# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies - aws-serverless does not ignore them; why?
/node_modules

# remove config file (for GitHub upload)
/config

# ESLint
.eslintrc.json

# inherited from aws-serverless-express's .gitignore file
lambda-invoke-response.json
packaged-sam.yaml
